body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
td,
th,
a,
span {
    background: transparent;
    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
}

.navigation {
    text-transform: uppercase;
}

.logo {
    background: blue;
}

.user-form {
    width: 100px;
}

/* Название таблицы */

.movie-list {
    padding: 100px 0;
}

.movie-list__header {
    font-size: 50px;
    color: #252525;
    font-weight: 700;
    margin: 0 0 77px 0;
    text-align: center;
}

/* \Название таблицы */

/* Таблица */

.container {
    max-width: 1030px;
    margin: 0 auto;
}

.movie-list__table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 15px;
    overflow: hidden;
    color: #fff;
}

.movie-list__table a {
    color: #fff;
    vertical-align: middle;
}

.movie-list__table th {
    font-size: 30px;
    font-weight: 700;
    background: #a3cc40;
    padding-top: 15px;
    padding-bottom: 18px;
    text-align: center;
}

.movie-list__tbody td {
    font-size: 22px;
    font-weight: 400;
    padding-top: 24px;
    padding-bottom: 12px;
    vertical-align: top;
}

.movie-list__first-col {
    width: 230px;
    text-align: center;
}

.movie-list__second-col {
    width: 310px;
}

.movie-list__third-col {
    width: 360px;
}

.movie-list__fourth-col {
    width: 130px;
    text-align: center;
}

/* .movie-list__table th:nth-child(2),
.movie-list__table td:nth-child(2) {
    padding-left: 66px;
} */

.movie-list__tbody tr {
    background: #4b4d4f;
}

.movie-list .movie-list__tline_light {
    background: #373737;
}

.movie-list__tbody tr:nth-child(4n+3) {
    background: #6c6c6c;
}

#triangle-up {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 10px solid white;
    vertical-align: middle;
    display: inline-block;
}

#triangle-down {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 10px solid white;
    vertical-align: middle;
    display: inline-block;
}

/* \Таблица */